.home {
    color: white;
    position: relative;
    .homepage {
        color: white;
        height: 100vh;
        .presentation-block {
            margin-top: auto;
            font-family: "Filson Pro", sans-serif;
            h2 {
                font-family: "Filson Pro Bold", sans-serif;
                font-size: 40px;
                color: $white;
                text-align: left;
                span {
                    color: $orange;
                    font-weight: bold;
                }
            }
            h3 {
                color: $white;
                font-size: 16px;
                margin-top: 30px;
                text-align: left;

                b {
                    color: $orange;
                    cursor: pointer;
                    font-family: "Filson Pro Bold", sans-serif;
                }
            }
            button {
                display: block;
                margin-right: auto;
                margin-top: 35px;
            }
        }
    }
}

@media screen and (max-width: 1199.98px) {
    .home {
        .homepage {
            h1 {
                font-size: 32px;
                font-family: "Filson Pro Bold", sans-serif;
                margin-bottom: 5vh;
            }
            .presentation-block {
                h2 {
                    font-size: 36px;
                }
                h3 {
                    font-size: 16px;
                }
                button {
                    background-color: $orange;
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 991.98px) {
    .home {
        .homepage {
            h1 {
                font-size: 30px;
                margin-bottom: 10vh;
            }
            .presentation-block {
                h2 {
                    font-size: 28px;
                }
                h3 {
                    font-size: 14px;
                }
            }
            .illustration-home {
                margin-top: 5vh;
            }
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 991.98px) and (max-height: 450px) {
    .home {
        .homepage {
            height: auto;
            h1 {
                font-size: 20px;
            }
            .logo {
                width: 100px;
            }
            .presentation-block {
                h2 {
                    font-size: 20px;
                }
            }
          
        }
    }
}
@media screen and (max-width: 575.98px) {
    .home {
        .homepage {
            .logo {
                width: 100px;
            }
            h1 {
                font-size: 20px;
            }
            .presentation-block {
                h2 {
                    font-size: 20px;
                }
                h3 {
                    font-size: 13px;
                }
            }
        }
    }
}
