footer {
    box-shadow: 0 -10px 5px 1px #00e1ff49;
    width: 100vw;
    height: auto;
    background-color: #0066fff1;
    margin-top: 20vh;
    backdrop-filter: blur(15px);
    padding: 30px 15px 30px 15px;
    img {
        width: 24px;
        height: 24px;
    }
}
