footer {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: auto;
    background-color: $turquoise;
    // border-top: 1px solid rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    padding: 30px 15px 30px 15px;
    *{
        z-index: 1;

    }
    svg {
        width: 28px;
        height: 28px;
    }

    .logo {
        img {
            width: 70px;
            height: auto;
            margin-left: -10px;
        }
        a {
            font-size: 18px;
            font-weight: bold;
        }
    }
    a {
        font-size: 14px;
    }
 
}

@media screen and (max-width: 1199.98px) {
}

@media screen and (max-width: 991.98px) {
    footer {
        a {
            font-size: 12px;
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 991.98px) and (max-height: 450px) {
}
@media screen and (max-width: 575.98px) {
    footer {
        a {
            font-size: 11px;
        }
    }
}
