.profile {
    overflow-x: hidden;
    color: white;
    height: 100%;
    position: relative;
    .workspace-illustration {
        width: 100%;
    }
    .humaaans{
        width: auto;
        position: absolute;
        top: 50%;
        left: 0;
    }
    .humaaans2{
        width: auto;
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    p {
        font-family: "Filson Pro", sans-serif;
        font-size: 20px;
        text-align: left;
        color: $greyfont;
        &:nth-child(1) {
            font-size: 26px;
        }
    }
    b {
        color: $orange;
    }
    i {
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: $orange;
        text-decoration-thickness: 1px;
        color: white;
        font-style: unset;
    }
    .profileForm {
        margin-top: 8vh;
        background: rgba(44, 44, 44, 0.7);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        z-index: 10;
        padding-top: 50px;
        margin-bottom: 10vh;
    }

    .catch-phrase {
        font-family: "Open Sans", sans-serif;
        color: #cfcfcf;
        font-size: 18px;
    }

    .exclamationPoint {
        stroke: $white;
        width: 22px;
        height: 22px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
    }

    button {
        width: 100%;
    }
    label {
        text-align: left;
        margin-top: 15px;
    }
    .type {
        input {
            width: 15px;
            margin-left: 15px;
            margin-right: 45px;
        }
    }
}



@media screen and (max-width: 1199.98px) {
    .profile {
        p {
            font-size: 14px;
            &:nth-child(1) {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 991.98px) {
    .profile {
        p {
            font-size: 12px;
            &:nth-child(1) {
                font-size: 14px;
            }
        }
    }
}


@media screen and (max-width: 767.98px) {
    .profile {
        .workspace-illustration {
            margin-top: 40px;
        }
        p {
            text-align: center;
            color: white;
            text-shadow: 1px 1px 1px black;
            font-size: 14px;
            &:nth-child(1) {
                font-size: 16px;
            }
        }

    }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) and (max-height: 450px) {
   
}

@media screen and (max-width: 575.98px) {
   
}
