.chatComponent {
    margin: 50px 0 80px 0;
    h1 {
        font-family: "Oswald", sans-serif;
        margin-bottom: 20px;
        text-align: center;
        color: rgb(220, 220, 220);
        font-weight: bold;
    }
    .chatContainer {
        background-color: rgb(233, 233, 233);
        height: 60vh;
        padding: 0;
        #modalBtn {
            position: relative;
            float: right;
            width: 40px;
        }
        .messagesContainer {
            padding: 20px;
            overflow-y: auto;
            height: 85%;
        }
        .sendContainer {
            width: 100%;
            background-color: rgb(95, 95, 95);
            position: absolute;
            bottom: 0;
            padding: 10px 5%;
            button {
                border-radius: 35px;
                background-color: rgb(75, 75, 75);
                color: white;
                font-size: 15px;
                width: 17%;
                font-weight: bold;
            }
            input {
                width: 70%;
                border-radius: 25px;
                margin-left: 50px;
                padding: 5px 25px;
                background-color: rgb(187, 187, 187);
                &::placeholder {
                    font-family: "Inter", sans-serif;
                }
            }
        }
    }
}

.choiceChat {
    background-color: $orange;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    h4 {
        padding-top: 33%;
        font-size: 36px;
        color: $white;
        font-weight: bold;
    }
}
