/* |||||||||||||||||||||||     MESSAGE COMPONENT   ||||||||||||||||||| */
.message {
    position: relative;
    .messageBlock {
        display: inline-block;
        font-family: "Oswald", sans-serif;
        font-size: 13px;
        color: white;
        font-weight: bold;
        border-radius: 35px;
        padding: 12px 25px 2px 25px;
    }
    .messagenameContainer {
        margin-top: 5px;
        font-family: "Filson Pro", sans-serif;
        font-weight: 300;
        font-size: 12px;
    }
    .sendAt {
        font-family: "Oswald", sans-serif;
        font-size: 10px;
        font-style: italic;
        margin-bottom: -15px;
        color: rgb(133, 133, 133);
    }
}

.messageComponent {
    float: right;
    text-align: right;
    .messageBlock {
        background-color: rgb(0, 140, 255);
    }
    .messagenameContainer,
    .sendAt {
        margin-right: 15px;
    }

}

.messageGreyComponent {
    float: left;
    text-align: left;
    .messageBlock {
        background-color: rgb(179, 179, 179);
    }
    .messagenameContainer,
    .sendAt {
        margin-left: 15px;
    }
}
