// Bubble blue
.drop {
    position: absolute;
    transition: all 0.2s ease;
    z-index: -1;
    background-color: $turquoise;
    border-radius: 50%;

    // Right top 
    &-1 {
        height: 90vh;
        width: 80vw;
        top: 50px;
        right: -27vw;
    }
    // Left
    &-2 {
        height: 50vh;
        width: 40vw;
        top: 70vh;
        left: -20vw;
    }

    // Corner left top
    &-3 {
        height: 20vw;
        width: 20vw;
        top: -10vh;
        left: -10vw;
    }
    // Bottom right
    &-5 {
        bottom: 0px;
        left: 35%;
        height: 40vh;
        width: 50vw;
    }
}

.bubble-turquoise {
    background-color: $turquoise;
    border-radius: 50%;
}


// Bubble blue
.dropOrange {
    position: absolute;
    transition: all 0.2s ease;
    z-index: 0;
    background-color: $blue;
    border-radius: 50%;

    &-1 {
        height: 12vw;
        width: 12vw;
        bottom: -4vw;
        left: -4vw;
    }

    &-2 {
        height: 14vw;
        width: 14vw;
        top: -4vw;
        right: -4vw;
    }

    &-3 {
        height: 6vw;
        width: 6vw;
        top: -2vw;
        left: 30vw;
    }
    &-4 {
        height: 8vw;
        width: 8vw;
        bottom: -2vw;
        left: 50vw;
    }
}


@media screen and (max-width: 1199.98px) {
    .drop {
        &-1 {
            height: 70vw;
            width: 80vw;
            top: 50px;
            right: -35vw;
        }

        &-2 {
            height: 35vw;
            width: 50vw;
            top: 55vw;
            left: -25vw;
        }

        &-3 {
            height: 15vw;
            width: 30vw;
            top: -5vw;
            left: 15vw;
        }
        &-5 {
            bottom: 100px;
            left: 35%;
            height: 40vw;
            width: 50vw;
        }
      
    }
}

@media screen and (max-width: 991.98px) {
    .drop {
        &-1 {
            height: 90vw;
            width: 100vw;
            top: 50px;
            right: -55vw;
        }

        &-2 {
            height: 40vw;
            width: 50vw;
            top: 80vw;
            left: -30vw;
        }

        &-3 {
            height: 20vw;
            width: 30vw;
            top: -10vw;
            left: -5vw;
        }
        &-5 {
            bottom: 150px;
            left: 35%;
            height: 40vw;
            width: 50vw;
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 991.98px) and (max-height: 450px) {
    .drop {
        &-1 {
            height: 50vw;
            width: 60vw;
            top: 50px;
            right: -30vw;
        }

        &-2 {
            height: 40vw;
            width: 40vw;
            top: 35vw;
            left: -20vw;
        }

        &-3 {
            height: 20vw;
            width: 30vw;
            top: -10vw;
            left: -5vw;
        }
        &-5 {
            bottom: 150px;
            left: 35%;
            height: 40vw;
            width: 50vw;
        }
    }
}

@media screen and (max-width: 767.98px) {
    .drop{

        &-3 {
            height: 35vw;
            width: 35vw;
            top: -10vw;
            left: -5vw;
        }
        &-5 {
            bottom: 200px;
            left: 35%;
            height: 50vw;
            width: 60vw;
        }
    }
}

@media screen and (max-width: 575.98px) {
    .drop {
        &-1 {
            height: 120vw;
            width: 120vw;
            top: 50px;
            right: -90vw;
        }

        &-2 {
            height: 80vw;
            width: 80vw;
            top: 70vh;
            left: -40vw;
        }

        &-3 {
            height: 40vw;
            width: 40vw;
            top: -9vw;
            left: -9vw;
        }

        &-5 {
            bottom: 250px;
            left: 45%;
            height: 70vw;
            width: 80vw;
        }
    }
}
