// Popup notif
.success-popup{
    display: none;
    position: fixed;
    top: 30vh;
    left: 30vw;
    z-index: 1000;
    width: 40vw;
    background-color: #ff7700e5;
    font-family: "Filson Pro Bold", sans-serif;
    font-size: 22px;
    color: white;
    
    border-radius: 8px;
    flex-direction: row;
    padding: 10vh 0;

    p {
        display: block;
        margin: auto;
        width: auto;
        color: white;
    }
}


@media screen and (max-width: 767.98px) {
    // If success, we show popup "Connection success"
    .success-popup {
        left: 0;
        width: 103vw;
        padding: 20px;
    }
}