.associations {
    min-height: 100vh;
    .pagination {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        margin-bottom: 15vh;
        margin-top: 50px;
        .pagination__link {
            font-size: 22px;
            margin: 0 5px 0 5px;
            color: white;
        }
        .pagination__link--active {
            color: $turquoise;
        }
        li {
            margin: 0 5px 0 5px;
            color: $greyfont;
            a {
                font-size: 22px;
            }
        }
    }

    .custom-select {
        font-size: 18px;
        margin-top: 20px;
    }
    .searchBar {
        background-color: white;
        height: 55px;
        border-radius: 50px;
        color: rgb(61, 61, 61);
        margin-top: 20px;
        &::placeholder{
            font-size: 16px;
            color: rgb(100, 100, 100);
        }
    }

    .description-page {
        margin: 10vh 0;
        .text-description{
            margin-top: auto;
            margin-bottom: auto;
        }
        .search-illustration {
            width: 100%;
        }
        p {
            font-family: "Filson Pro", sans-serif;
            font-size: 20px;
            text-align: left;
            color: $greyfont;
            text-shadow: 1px 1px 1px black;
        }
        b {
            color: $orange;
        }
        i {
            a {
                // text-decoration: none;
                color: $white;
            }
            font-size: 18px;
        }
    }

    .association-component {
        background: rgba(44, 44, 44, 0.7);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 40px 5% 25px 5%;
        margin-right: 30px;
        margin-bottom: 30px;
        color: white;
        h4 {
            font-size: 18px;
            min-height: 70px;
            font-weight: bold;
        }
        .address {
            height: 40px;
            svg {
                width: 20px;
                fill: $turquoise;
                margin-right: 10px;
                margin-bottom: auto;
            }
            p {
                font-family: "Filson Pro", sans-serif;
                font-style: italic;
                font-size: 16px;
                text-transform: capitalize;
                color: $greyfont;
            }
        }

        button {
            margin-top: 40px;
            border-radius: 50px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1599.98px) {
    .associations {
        .description-page {
            p {
                font-size: 15px;
            }
            i {
                font-size: 16px;
            }
        }

        .association-component {
            h4 {
                font-size: 16px;
            }
            .address {
                height: 40px;
                p {
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 1199.98px) {
    .associations {
        .description-page {
            .search-illustration {
                width: 110%;
            }
            p {
                font-size: 14px;
            }
            i {
                font-size: 15px;
            }
        }

        .association-component {
            h4 {
                font-size: 14px;
            }
            .address {
                p {
                    font-size: 14px;
                }
            }
        }
        button {
            background-color: $turquoise;
            color: white;
        }
    }
}

@media screen and (max-width: 991.98px) {
    .associations {
        .description-page {
            p {
                font-size: 13px;
            }
            i {
                font-size: 13px;
            }
        }

        .association-component {
            h4 {
                font-size: 13px;
            }
            .address {
                p {
                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    .associations {
        .description-page {
            margin: 5vh 0;
            .search-illustration {
                width: 100%;
                background-color: $turquoise;
                border-radius: 50%;
                margin-top: 30px;
            }
            p {
                font-size: 15px;
            }
            i {
                font-size: 15px;
            }
        }

        .association-component {
            margin-right: 0;
            h4 {
                font-size: 16px;
            }
            .address {
                p {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) and (max-height: 450px) {
    .associations {
      
        .pagination {
            .pagination__link {
                font-size: 15px;
            }
            li {
                a {
                    font-size: 15px;
                }
            }
        }

        .description-page {
          margin: 50px 0;
        }
    }
}

@media screen and (max-width: 575.98px) {
    .associations {

        .pagination {
            .pagination__link {
                font-size: 14px;
            }
            li {
                a {
                    font-size: 14px;
                }
            }
        }

        .custom-select {
            font-size: 16px;
        }
        .searchBar {
            &::placeholder{
                font-size: 14px;
            }
        }
        
        .description-page {
            p {
                font-size: 13px;
                color: white;
                text-shadow: 1px 1px 2px black;
            }
            i {
                font-size: 13px;
            }
        }

        .association-component {
            h4 {
                font-size: 13px;
            }
            .address {
                p {
                    font-size: 13px;
                }
            }
            button{
                font-size: 15px;
            }
        }
    }
}
