@import "./variables.scss";
@import "./utils.scss";

@import "./components/googlePlaces.scss";

// Sections
@import "./components/sections/header.scss";
@import "./components/sections/footer.scss";

// Register
@import "./components/registration/register.scss";

// Home
@import "./components/home/home.scss";
@import "./components/home/howitworks.scss";

// About Us
@import "./components/aboutus.scss";

// User
@import "./components/user/profile.scss";

// Association
@import "./components/associations/associations.scss";
@import "./components/associations/oneAssociation.scss";

//Chat 
@import "./components/chat/chat.scss";
@import "./components/chat/channel.scss";
@import "./components/chat/message.scss";
@import "./components/chat/input.scss";

// Not Found
@import "./components/notfound.scss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background: linear-gradient(176.79deg, #1E3737 -5.71%, #000000 97.35%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
    text-align: center;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-size: calc(10px + 2vmin);
    position: relative;
    display: none;
}