// Open Sans
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;900&display=swap");


// Rubik
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap");

// Chango
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

// Filson Pro
@font-face {
  font-family: "Filson Pro";
  src: url("../fonts/FilsonPro-Regular/FilsonPro-Regular.otf"),
    url("../fonts/FilsonPro-Regular/FilsonPro-Regular.woff2") format("woff2"),
    url("../fonts/FilsonPro-Regular/FilsonPro-Regular.woff") format("woff"),
    url("../fonts/FilsonPro-Regular/FilsonPro-Regular.ttf") format("truetype");
}

// Filson Pro Bold
@font-face {
  font-family: "Filson Pro Bold";
  src: url("../fonts/FilsonPro-Bold/FilsonPro-Bold.woff2") format("woff2"),
    url("../fonts/FilsonPro-Bold/FilsonPro-Bold.woff") format("woff"),
    url("../fonts/FilsonPro-Bold/FilsonPro-Bold.ttf") format("truetype");
}

// Filson Pro Light
@font-face {
  font-family: "Filson Pro Light";
  src: url("../fonts/FilsonPro-Light/FilsonPro-Light.woff2") format("woff2"),
    url("../fonts/FilsonPro-Light/FilsonPro-Light.woff") format("woff"),
    url("../fonts/FilsonPro-Light/FilsonPro-Light.ttf") format("truetype");
}

// Filson Pro Medium
@font-face {
  font-family: "Filson Pro Medium";
  src: url("../fonts/FilsonPro-Medium/FilsonPro-Medium.woff2") format("woff2"),
    url("../fonts/FilsonPro-Medium/FilsonPro-Medium.woff") format("woff"),
    url("../fonts/FilsonPro-Medium/FilsonPro-Medium.ttf") format("truetype");
}