$lightblack: rgba(8, 8, 9, 255);
$white: white;
$lightgrey: rgb(187, 187, 187);

$green: #47cf73;
$palegreen: #17b794;

$purple : #6247e9;
$purpleblue : #2b1fe0;

$yellow : #e6aa05;

 // All blue 
$blackblue: #01005e;
$blackblue: #010101;
// $purple: #010101;

// $yellow: #f49007;
$darkenblue: #23286b;
$darkblue: #22267b;
$paleblue: #28518a;
$blue: #118df3;
// $blue: #f49007;
// $paleblue: #af6600;

$lightblue: #3e8af8;
$turquoise: #14ffec;
