$lightblack: rgba(8, 8, 9, 255);
$white: white;
$lightgrey: rgb(187, 187, 187);

$yellow: #e6aa05;
// All blue
$blackblue: #01005e;
$blackblue: #010101;
$darkenblue: #23286b;
$darkblue: #22267b;
$paleblue: #28518a;
$blue: #118df3;

// Maquette
$background: #1c1e2b;
$greyfont: #c4c4c4;
$turquoise: #00d5ff;
$orange: #ff7700;
$pink:#E401F3;
$lightblue: #29DCFF;