$lightblack: rgba(8, 8, 9, 255);
$white: white;
$lightgrey: rgb(187, 187, 187);

$yellow: #e6aa05;
// All blue
$blackblue: #01005e;
$blackblue: #010101;
$darkenblue: #23286b;
$darkblue: #22267b;
$paleblue: #28518a;
$blue: #118df3;

// Maquette
$background: #1c1e2b;
$greyfont: #c4c4c4;
$turquoise: #00d5ff;
$orange: #ff7700;
$red: #ff3c00;
$pink: #e401f3;
$lightblue: #29dcff;

// MAQUETTE FIGMA
// Primary & Dark to light

// Ocean (green)
$ocean: #00b589;
$ocean70: #005b45;
$ocean60: #008867;
$ocean40: #40c7a7;
$ocean30: #80dac4;
$ocean20: #bfede1;
$ocean10: #f2fdfb;

// Dark (grey)
$dark: #2a353f;
$dark70: #000000;
$dark60: #1e282e;
$dark40: #5f686f;
$dark30: #949a9f;
$dark20: #cacdcf;
$dark10: #f2f4f5;

// Light (white)
$light: #e2e9ef;
$light70: #f3f6f9;
$light60: #ffffff;

// Red
$red: #dc2934;
$red70: #6e141a;
$red60: #a51f27;
$red40: #e55e67;
$red30: #ee9499;
$red20: #f6c9cc;
$red10: #fff4f5;

// Green
$green: #04ac3d;
$green70: #02561e;
$green60: #03812e;
$green40: #43c16e;
$green30: #81d69e;
$green20: #c0eacf;
$green10: #f3fff7;

// Yellow
$yellow: #ecbb18;
$yellow70: #765d0c;
$yellow60: #b18c12;
$yellow40: #f1cc52;
$yellow30: #f6dd8b;
$yellow20: #faeec5;
$yellow10: #fffcf1;

// Purple
$purple: #534ae3;
$purple70: #292572;
$purple60: #3e37aa;
$purple40: #7e77ea;
$purple30: #a9a4f1;
$purple20: #d4d2f8;
$purple10: #f6f5ff;

// Orange
// $orange: #eb6841;
$orange70: #763420;
$orange60: #b04e31;
$orange40: #f08e71;
$orange30: #f5b3a0;
$orange20: #fad9cf;
$orange10: #fff4f0;

// Brown
$brown: #6a4a3c;
$brown70: #35251e;
$brown60: #50372d;
$brown40: #8f776d;
$brown30: #b4a49d;
$brown20: #dad2ce;
$brown10: #fcfaf9;

// Deep Blue
$deepBlue: #2174ee;
$deepBlue70: #103a77;
$deepBlue60: #1957b3;
$deepBlue40: #5897f2;
$deepBlue30: #90baf7;
$deepBlue20: #c7dcfb;
$deepBlue10: #f3f8ff;

// Sky Blue
$skyBlue: #31b1f9;
$skyBlue70: #18597d;
$skyBlue60: #2585bb;
$skyBlue40: #65c5fb;
$skyBlue30: #98d8fc;
$skyBlue20: #cbebfe;
$skyBlue10: #f1faff;
